<div class="Developers">

  <div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4'>
        <div class='card'>
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image mock">
            <img src="/assets/icons/mock.png">
          </figure>
        </div>
      </div> 
    </div>
  </div>

  <div class="section">
    <div class="blurb">
      <div class="columns has-text-centered is-centered">
        <div class="column is-8">
          <h3 class="title">Lower your cooling costs</h3>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
              <i class="lni-plug size-lg"></i>
            </figure>
            <h3>Easy to install</h3>
            <h4>
              No infrastructure needed. Just screw off your heat sink and screw on Liquid Loop.
            </h4>
            <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
          </div>
        </div>
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              <i class="lni-archive size-lg"></i>
            </figure>
            <h3>No Maintenance Required </h3>
            <h4>
              Our patented self-pumping design has no moving parts and uses no energy input.
            </h4>
            <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
          </div>
        </div>
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              <i class="lni-protection size-lg"></i>
            </figure>
            <h3>Tested and Reliable</h3>
            <h4>
            Our design and dielectric fluid undergo rigorous testing so you never worry about leakages.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
