<div class="Developers">

  <div class="container">
    <div class='columns'>
      <div class='column is-4 is-offset-4'>
        <div class='card'>
        <div class='card-content is-flex is-horizontal-center'>
          <figure class="image mock">
            <img src="/assets/icons/mock.png">
          </figure>
        </div>
      </div> 
    </div>
  </div>

  <div class="section">
    <div class="blurb">
      <div class="columns has-text-centered is-centered">
        <div class="column is-8">
          <h3 class="title">Push performance today</h3>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              {{!-- <img src="/assets/icons/opensource.svg" alt="Opensource"> --}}
              <i class="lni-sprout size-lg"></i>
            </figure>
            <h3>Zero Energy</h3>
            <h4>
              Lower your PUE with passive liquid cooling. Our patented self-pumping design uses no energy input to cool the chip.
            </h4>
            <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
          </div>
        </div>
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              <i class="lni-plug size-lg"></i>
            </figure>
            <h3>Hassle Free</h3>
            <h4>
              Easy to install and no maintenance required. Just screw off your heat sink and screw on Liquid Loop.
            </h4>
            <!-- <a class="polly-Button button is-fullwidth" href="#" >More</a> -->
          </div>
        </div>
        <div class="column">
          <div class="box">
            <figure class="image is-64x64">
              <i class="lni-shield size-lg"></i>
            </figure>
            <h3>Reliable</h3>
            <h4>
            Never worry about downtime. Our design and dielectric fluid are tested under rigorous conditions.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
